.header {
  color: white !important;
  font-size: 3em !important;
}

.image {
  width: 250px !important;
  min-height: 280px;
  margin: 20px 20px 0 40px !important;
}

.icon {
  position: absolute;
  top: -10px;
  right: -15px;
}

.description {
  color: #eee !important;
  font-size: 1.25em !important;
  margin-top: 30px !important;
  line-height: 25px;
}

.dimmer {
  background-color: rgb(20, 20, 20) !important;
}
