.main {
  color: white;
  width: 100%;
  display: inline-block;
  margin-bottom: 25px;
  font-size: 1.25rem;
  display: flex;
}

.results {
  float: left;
  align-self: center;
  width: 100%;
}

.navigate {
  float: right;
  display: flex;
  justify-content: flex-end;
}

.navigate span {
  align-self: center;
  white-space: nowrap;
}

.navigate img {
  border: 2px solid white;
  padding: 7px 10px;
  cursor: pointer;
  margin-left: 20px;
}
