div[role="option"][selected] img {
  box-sizing: content-box;
  border: 4px solid white;
  margin-left: -4px;
  margin-top: -4px;
}

div[role="option"][selected] .slide::after {
  position: relative;
  left: 50%;
  margin-left: -15px;
  top: 5px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid white;
  clear: both;
  content: "";

  @media (max-width: 780px) {
    margin-left: -30px;
    top: 19px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid white;
  }
}
