.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.wrapper > div {
  transition-duration: 500ms;
}

.wrapper > div img {
  max-width: 100%;
  max-height: 365px;
  display: block;
  object-fit: cover;
}

.carousel {
  position: relative;
}

.carousel__slider {
  padding-top: 35px;
}

.carousel > button {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  opacity: 0.3;
}

.carousel > button > img {
  width: 100%;
}

.carousel .carousel__next-button {
  right: -35px;
  transition: right 600ms;
}

.carousel .carousel__back-button {
  left: -35px;
  transition: left 600ms;
}

.carousel .carousel__next-button:hover {
  right: -40px;
  opacity: 0.8;
}

.carousel .carousel__back-button:hover {
  left: -40px;
  opacity: 0.8;
}

.carousel .carousel__back-button img {
  transform: rotate(180deg);
}

.rotate {
  transform: rotate(90deg);
  margin-top: -40px;
}
.slide {
  cursor: pointer;
  padding: 2px;
}

.slide img {
  pointer-events: none;
  transition: width 500ms;
  width: 100%;
  max-width: 250px;
  display: inherit;
}

.transitionMovie {
  transition: height 250ms;
}

@media (min-width: 780px) {
  .details-closed .is-open .slide img {
    width: 150%;
  }

  .carousel__slide {
    transition-duration: 500ms;
  }

  .is-open {
    transform: scale(1.1);
  }
}
