@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.searchElements {
  display: flex;
  width: 500px;
}

.searchField {
  display: inline-block;
  position: relative;
  flex: 1;
  margin-right: 10px;
}

#placeholder {
  color: white;
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 1.75rem;
  position: absolute;
  top: 2px;
  right: 8px;
}

#searchInput {
  height: 40px;
  padding: 5px 10px;
  background: transparent;
  border: 2px solid white;
  border-radius: 0;
  font-size: 1.25em;
  color: white;
}
