.container {
  background: #1b1b1b;
  margin: 0 auto;
  position: absolute;
  width: 1200px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: fit-content;
}

.header {
  color: white;
  width: 100%;
  margin: 40px 0;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 40px;
}

.searchArea {
  display: flex;
  justify-content: flex-end;
  width: 900px;
  margin-right: 40px;
}

.moviesContainer {
  background: #272727;
  margin: 0 40px 40px 40px;
  padding: 35px;
  flex: 1 1 100%;
}

#footer {
  color: #666;
  font-size: 1.2rem;
  display: inline-block;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  right: 10px;
  bottom: 20px;
  line-height: 24px;
}

.footerLink {
  color: white;
}

.footerLink:hover {
  cursor: pointer;
  color: yellow;
}

.footerSeprarator {
  margin: 0 8px;
}
